<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h2>Welcome {{name}}! Your report stats are below</h2>
    {% if marks > 100%}
    <p>You are <b>Pass</b> and your marks are {{marks}}</p>
    {% else %}
    <p>You are FAIL</p>
    {% endif %}
    <h2>Your skills are:</h2>
    {% for skill in skills%}
    <ul>
      <li>{{skill}}</li>
    </ul>
    {% endfor %}
  </body>
</html>
